.style {
    .title {
        text-align: center;
        padding-bottom: 20px;
    };
    margin-top: 20px;
    .p-20 {
        padding: 20px;
    };
    .userAvatar{
        display: flex;
        justify-content:center;    
    }
}